a {
    color: #000;
    text-decoration: none;

    &:active {
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-tap-highlight-color: transparent;
    }

    &:hover {
        text-decoration: underline;
    }

    &.lnk-classy,
    &.tab {
        display: inline-block;
        position: relative;

        padding-bottom: 10px;

        &::after {
            content: "";
            
            background: #1299F2;
            background-image: linear-gradient(to left, #23e5e5, #004dff);

            position: absolute;

            left: 50%;
            top: 100%;

            height: 1px;
            width: 0%;

            transition: all 300ms ease-in-out;
        }

        &.focus, &.active, &:hover {
            text-decoration: none;

            &::after {
                left: -10%;
                width: 120%;
            }
        }

        &.focus {
            &:hover {
                &::after {
                    left: 50%;
                    width: 0;
                }
            }
        }

        &.cta {
            font-size: 1.4rem;
            font-weight: 600;

            margin-top: 60px;
            padding-bottom: 10px;

            &::after {
                height: 2px;

                transition: all 300ms ease-in-out;
            }
        }
    }

    &.intercom-launcher {
        position: fixed;
        right: 15px;
        bottom: 15px;
        
        z-index: 45;
    }
}

aside {
    color:#cecece;
    font-style: italic;
    font-size: 80%;
}

.btn {
    text-decoration: none;
    border: none;

    &.btn-hero {
        color: #fff;
        padding: 15px 60px;
        border-radius: 120px;

        background: $blue-mid-color;
        background-image: linear-gradient(to left, #23e5e5, #004dff);

        &:hover {
            text-decoration: none;
        }
    }
}

img {
    position: relative;
    z-index: 1;

    &.fill,
    &.fill-sm {
        width: 100%;
        height: auto;
    }
}

video {
    &.fill,
    &.fill-sm {
        width: 100%;
        height: auto;
    }
}

.tabs {
    display: flex;

    .tab {
        flex: 1 0 0;
        text-align: center;
        color: rgba(16, 17, 49, 0.54);

        padding: 0 0 18px 0;
        border-bottom: 1px solid rgba(16, 17, 49, 0.54);

        &:first-child {
            text-align: left;
            padding: 0 0 18px 0;
        }

        &:last-child {
            text-align: right;
            padding: 0 0 18px0 ;
        }

        &::after {
            margin-top: 0;
            height: 5px;
            
        }

        &.active, &:hover {
            color: $black-text-color;
            
            &:after {
                left: 0%;
                width: 100%;
            }
        }

        &.active {
            color: $blue-mid-color;
        }
    }

    &.list {
        display: block;

        .tab {
            display: block;

            &::after {
                height: 3px;
            }
        }
    }

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

dl {
    font-size: 1.4rem;

    &.nosep {
        dd {
            &+dt {
                &::before {
                    display: none;
                }
            }
        }
    }

    dt {
        font-weight: bold;
        padding: 15px 0;
    }

    dd {
        padding: 0 0 45px 0;
        line-height: 2.54rem;

        &+dt {
            position: relative;
            padding: 45px 0 15px 0;

            &::before {
                content: " ";
                display: block;

                position: absolute;
                left: 0;
                top: -1px;
                width: 100%;
                height: 1px;

                background: #ccc;
            }
        }
    }
}

.profile-lite {
    padding: 115px 20px 0 20px;
    font-size: 1.4rem;
    text-align: center;

    .avatar {
        width: 80%;
        height: auto;
        border-radius: 50%;
        margin-bottom: 44px;
    }

    .name {
        font-weight: bold;
        opacity: 0.84;
    }

    .role {
        padding-top: 23px;
        opacity: 0.54;
        line-height: 2rem;

        height: 75px;
    }
}

table {
    box-sizing: border-box;
    width: 100%;
    tr {
        background: #fff;

        &:nth-child(odd) {
            background: #fafafa;
        }

        td {
            padding: 5% 10%;            

            &:last-child {
                text-align: right;
            }
        }


    }
}

hr {
    height: 1px;
    border: none;
    background-color: rgba(16, 17, 49, 0.2);

    &.vertical {
        display: block;
        margin: 80px auto 0 auto;

        width: 1px;
        height: 57px;
    }
}

.landing {
    hr {
        background-color: #fff;
    }
}

@media screen and (min-width: 768px) {
    a {
        &.intercom-launcher {
            right: 65px;
            bottom: 45px;
        }
    }

    img,
    video {
        &.fill-sm {
            width: 70%;
        }
    }

    button.nav-toggle {
        display: none;
    }

    table {
        tr {
            td {
                padding: 40px 70px;
            }
        }
    }

    .tabs {
        display: block;

        .tab {
            float: left;
            display: block;
            padding: 0 8% 18px 8%;
    
            &:first-child {
                padding: 0 16% 18px 0;
            }
    
            &:last-child {
                padding: 0 0 18px 16%;
            }
        }

        &.list {
            display: block;

            .tab {
                font-size: 1.4rem;

                display: block;
                float: none;

                padding: 35px 0 35px 0;
                text-align: left;

                &:first-child {
                    padding-top: 0;
                }
            }
        }
    }

    dl {    
        dd {   
            &+dt {
                &::before {
                    width: 154px;
                }
            }
        }
    }
}