.modal {
    .modal-wrapper {
        .hbspt-form {
            fieldset {
                .field {
                    display: block;
                    float: none;
                    width: 100%;
        
                    label {
                        //display: none;
                        font-family: $font-family-type;
                        font-weight: normal;
                        text-align: left;
                        width: auto;

                        padding: 5px 0 5px 0;
                        float: none;
                    }

                    legend {
                        text-align: right;
                        display: block;
                        float: none;

                        padding: 2px 0;
                    }

                    select {
                        padding: 10px;
                        height: auto;
                    }

                    .input {
                        margin: 0;

                        input {
                            width: 100%;
                            padding: 1.5rem 1rem !important;

                            margin: 0;
                        }
                    }
                }

                .legal-consent-container {
                    p {
                        text-align: left;
                        padding-top: 1rem;

                        font-size: 0.8rem;
                        line-height: 1.2rem;
                    }
                }
            }

            form {
                padding-top: 2rem;
                padding-bottom: 0;
                margin-bottom: 0;
            }

            .hs-error-msg {
                color: #cc0000;
            }
        }

        .hs_submit {
            .actions {
                text-align: center;
                margin: 0;
                padding: 25px 0 0 0;

                .hs-button.primary {
                    color: #fff;
                    padding: 15px 60px;
                    border-radius: 120px;

                    border: none;
                    background: $blue-mid-color;
                    background-image: linear-gradient(to left, #23e5e5, #004dff);
                }
            }
        }
    }
}