.modal {

    &.show {
        display: flex;
    }

    display: none;
    justify-content: center;
    align-items: center;

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.5);

    z-index: 150;

    .modal-wrapper {
        position: relative;
        max-width: 90%;

        .modal-content {
            position: relative;
            box-sizing: border-box;

            background: #fff;
            border-radius: 10px;
            padding: 5% 7%;

            box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.3);

            width: 450px;
            max-width: 100%;

            z-index: 151;

            p {
                font-size: 1rem;
            }

            .modal-close {
                position: absolute;
                right: -25px;
                top: -25px;

                padding-right: 25px;
                padding-top: 30px;

                img.bg {
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .modal {
        .modal-wrapper {
            .modal-content {
                padding: 60px 80px;
            }
        }
    }
}