header {
    display: flex;

    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    left: 0;
    top: 0;

    width: 100%;
    min-height: 0%;

    padding: 25px;
    z-index: 50;

    transition: all 200ms ease-in-out;

    .streem-logo {
        fill: #F4F4F4;
        position: relative;
        z-index: 101;

        transition: opacity 300ms linear;

        .logo-mark, .logo-text {
            transition: fill 300ms linear;
        }
    }

    button {
        &.nav-toggle {
            position: relative;
            background: transparent;
            border: none;
    
            font-size: 0;
            text-indent: -5000px;
    
            width: 40px;
            height: 40px;
    
            &:focus {
                outline: none;
            }
    
            &::before,
            &::after {
                content: " ";
                display: block;
                position: absolute;
    
                left: 10%;
    
                width: 80%;
                height: 2px;
    
                background: white;
    
                transform-origin: 50% 50%;
    
                transition: all 300ms ease-out;
            }
    
            &::before {
                top: 30%;
            }
    
            &::after {
                bottom: 30%;
            }
    
            &.active {
                &::before,
                &::after {
                    top: 50%;
                    bottom: auto;
    
                    background: black;
                }
    
                &::before {
                    transform: rotate(45deg);
                }
                &::after {
                    transform: rotate(-45deg);
                }
            }
        }
    }

    nav {
        display: none;
        align-items: center;

        a {
            color: white;
            letter-spacing: 1px;

            &.lnk-classy {
                padding-bottom: 0;
            }

            &+a {
                margin-left: 3vw;
            }

            &.mobile-only {
                display: none;
            }
        }
    }

    &.pin {
        background: #fff;
        padding: 30px;
        
        border-bottom: 1px solid #eaeaea;

        button.nav-toggle {
            &::before,
            &::after {
                background: black;
            }
        }

        .streem-logo {
            .logo-mark {
                fill: #008cff;

                .color-a { fill: url(#logo-grad-a); }
                .color-b { fill: url(#logo-grad-b); }
                .color-c { fill: url(#logo-grad-c); }
                .color-d { fill: #23E5E5; }
            }

            .logo-text {
                fill: $black-text-color;
            }
        }

        nav {
            a {
                color: $black-text-color;
            }
        }
    }

    &.open {
        background: transparent;
        border-bottom-color: transparent;

        .streem-logo {
            opacity: 0;
        }

        a {
            color: #fff;
        }

        button.nav-toggle {
            &::before, &::after {
                background-color: #fff;
            }
        }
    }
}

.mobile-nav {
    display: table;
    box-sizing: border-box;

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background: #1299F2 linear-gradient(to bottom, #23e5e5, #004dff);

    z-index: 49;

    nav {
        display: table-cell;
        vertical-align: middle;
        text-align: center;

        a {
            color: #fff;

            display: block;
            box-sizing: border-box;

            max-width: 130px;
            margin: 60px auto;

            &.mobile-only {
                display: block;
            }

            &.btn {
                padding: 18px;

                &.btn-hero {
                    margin-top: 175px;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    header {
        padding: 50px 75px 25px 75px;
        nav {
            display: flex;

            .lnk-classy {
                padding-top: 10px !important;
                padding-bottom: 10px !important;
            }
        }
    }
}