@import url('https://fonts.googleapis.com/css?family=Poppins:400,400i,600,600i');

@font-face {
    font-family: $font-family-header;
    src: url(./assets/fonts/NoeDisplayBold.woff);
}

html, body {
    font-size: 13px;
    font-family: $font-family-type;
    color: $black-text-color;

    overflow-x: hidden;
}

h1, h2, h3, .h1, .h2, .h3 {
    position: relative;
    font-family: $font-family-header;
    font-weight: bold;
    z-index: 1;
}

h2, .h2, h3, .h3, h4, .h4 {
    span.context {
        display: block;
        text-transform: uppercase;

        font-size: 1.1rem;
        font-family: $font-family-type;
        font-weight: normal;

        margin-bottom: 15px;
        letter-spacing: 2px;
        line-height: 1rem;

        opacity: 0.84;
    }
}

h1, .h1 {
    font-size: 4.75rem;
    letter-spacing: 0;
}

h2, .h2 {
    font-size: 3.85rem;
    line-height: 4.9rem;
    letter-spacing: 0;

    span.context {
        margin-bottom: 20px;
    }
}

h3, .h3 {
    font-size: 2.8rem;
    line-height: 3.9rem;
    letter-spacing: -0.81px;

    span.context {
        margin-bottom: 0;
    }
}

p, dl {
    font-size: 1.23rem;
    line-height: 2.54rem;

    &.context {
        opacity: 0.54;

        &.small {
            font-size: 1.08rem;
        }
    }

    &.title {
        font-weight: 600;
    }

    &+p {
        margin-top: 40px;
    }
}

blockquote {
    position: relative;
    font-family: $font-family-header;
    font-size: 2.5rem;
    line-height: 4.25rem;

    font-weight: bold;

    max-width: 675px;
    z-index: 2;

    &::before {
        content: "“";
        display: block;
    }

    &::after {
        content: "”";
        display: block;
    }
}

cite {
    display: block;   
    font-weight: bold;
    text-transform: uppercase;

    font-size: 1.2rem;
    margin-top: 55px;
}

@media screen and (max-width: 480px) {
    html {
        font-size: 11.5px;
    }
}

@media screen and (min-width: 768px) {
    blockquote {
        font-size: 3.847rem;
        line-height: 5rem;
    }

    cite {
        font-size: 1.4rem;
        margin-top: 75px;
    }
}